@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {height: 100%}

body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #333;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1em;
    line-height: 135%;
}

a {
    color: #d38484;
    text-decoration: none;
    -webkit-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -o-transition: all.6s ease;
    transition: all.6s ease;
}

a:hover {
    color: #ece09d;
}

a, a:hover {
    text-decoration: none;
    -webkit-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -o-transition: all.6s ease;
    transition: all.6s ease;
}

.clear {
    clear: both;
}

/*Cтили для шапки*/

header {
    width: 98%;
    float: left;
    padding: 1%;
    background-color: #fafafa;
    border-bottom: 2px solid silver;
}

header #logo {
    width: 30%;
    float: left;
}

header #logo a {
    color: #939393;
    font-size: 2em;
    font-family:"Times New Roman", sans-serif;
}

header #logo span {
    color: #e36565;
}

header #menuHead {
    width: 30%;
    float: left;
}

header #regAuth{
    width: 25%;
    float: left;
    text-align: right;
}

header #menuHead div {
    float: left;
    margin-right: 5%;
    padding: 5px;
    background-color: #d4d2d2;
    border-radius: 5px;
    color: #ffffff;
}

header #menuHead div:hover {
    background-color: #e3e2e2;
}